<div class="container">
  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <h3>Password Strength</h3>
      <form class="mt-4" [formGroup]="form">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <div class="strength">
            <ul class="strengthBar">
              <li class="point" [style.background-color]="segmentColors[0]"></li>
              <li class="point" [style.background-color]="segmentColors[1]"></li>
              <li class="point" [style.background-color]="segmentColors[2]"></li>
            </ul>
            <br>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>